{% extends 'index.html' %}

{% block content %}
    <section class="section" id="schedule">
        <div class="container">
            <div class="section-heading text-center dark-bg">
                <br>
                <h2>Login</h2>
            </div>
            <div>
                <div class="section-heading dark-bg">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3" >
                            <form id="contact" action="" method="post">
                                {% csrf_token %}
                                    <fieldset>
                                        <p><em>Username:</em> {{ form.username }}</p>
                                    </fieldset>
                                    <br>
                                    <fieldset>
                                        <p><em>Password:</em> {{ form.password }}</p>
                                    </fieldset>
                                    <br>
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Login</button>
                                    </fieldset>
                            </form>
                            <br>
                            <p>Don't have as account? You can <a href="/registration/" >register</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}