{% extends 'index.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <section class="section" id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p><b>Update Schedule</b></p>
                    <div class="filters">
                    </div>
                </div>
                <div class="col-lg-10 offset-lg-1">
                    <div class="schedule-table filtering">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="day-time">Traning Type/Week day</td>
                                    <td class="day-time">Monday</td>
                                    <td class="day-time">Tuesday</td>
                                    <td class="day-time">Wednesday</td>
                                    <td class="day-time">Thursday</td>
                                    <td class="day-time">Friday</td>
                                    <td class="day-time">Trainer</td>
                                    <td class="day-time">Visible</td>
                                    <td class="day-time">Items</td>
                                </tr>
                                {% for item in schedule %}
                                    <tr>
                                        <td class="day-time">{{ item.class_name }}</td>
                                        <td class="ts-item show">{{ item.monday }}</td>
                                        <td class="ts-item show">{{ item.tuesday }}</td>
                                        <td class="ts-item show" >{{ item.wednesday }}</td>
                                        <td class="ts-item show">{{ item.thursday }}</td>
                                        <td class="ts-item show">{{ item.friday }}</td>
                                        <td class="ts-item show">{{ item.trainer.name }}</td>
                                        <td class="ts-item show">{{ item.is_visible }}</td>
                                        <td class="ts-item show">
                                            <a href="{% url 'manager:update_schedule' pk=item.pk %}">Hide/Show</a> |
                                            <a href="{% url 'manager:edit_training' pk=item.pk %}">Edit</a> |
                                            <a href="{% url 'manager:delete_training' pk=item.pk %}">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}